allow hal_sensors_default sysfs:file { create open read write };
allow hal_sensors_default system_data_file:file { getattr open read };
allow hal_sensors_default system_data_file:dir { create add_name open read write };
